{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container text-center">
  <h4 class="section-title ff-secondary text-center text-primary fw-normal mb-4" style="font-size: 2rem;">
      Contact
  </h4>
  <p class="mb-2" style="font-size: 1.2rem;"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
  <p class="mb-2" style="font-size: 1.2rem;"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
  <p class="mb-2" style="font-size: 1.2rem;"><i class="fa fa-envelope me-3"></i>info@example.com</p>
  <div class="d-flex justify-content-center pt-2">
      <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-youtube"></i></a>
      <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>


  {% endblock %}