
    
      <div class="col-md-3">
        <div class="card">
          <img src="{{ food.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h6 class="card-title">{{ food.name }}</h6>
            <a href="{% url 'res.ingredients' food.id  %}" class="btn btn-primary">Food Details</a>
          </div>
          <div class="card-footer">
            <strong class="fw-bold text-success">{{ food.price }} $</strong>
          </div>
        </div>
      </div>
    